---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
{
    name: "Startup",
    description: "for startup companies",
    cost: { initial: "£150", monthly: "£15" },
    popular: false,
    features: [
      "Basic Website design",
      "Content management system",
      "Mobile-friendly design",
      "Basic SEO",
      "Social Media setup",
      "Email support with guaranteed response within 72 hours",
    ],
    button: {
      text: "Learn More",
      formlink: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Introductory prices for a limited time only.
      </Fragment>
    </Sectionhead>

    <!-- Ensuring single column layout -->
    <div class="animate-slidein500 opacity-0 grid grid-cols-1 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => (
        <PricingCard plan={item} key={item.name} /> // Added a key for best practices
      ))}
    </div>
  </Container>
</Layout>
