---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Business Lite",
    description: "For small businesses",
    cost: { initial: "£100",
      monthly: "£10",},
    popular: false,
    features: [
      "Ideal for sole traders and small businesses",
      "Website design and development",
      "Content management",
      "Responsive design",
      "SEO basics",
      "Social Media integration",
      "Email support with guaranteed response within 48 hours",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
  // {
  //   name: "Business Pro",
  //   price: { monthly: "£300",
  //     original: "£600",
  //   discount: "50%"},
  //   popular: true,
  //   features: [
  //     "Ideal for growing businesses that need more complex functionalities like e-commerce and booking systems",
  //     "Advanced Website design",
  //     "E-commerce and online payments",
  //     "Booking systems",
  //     "Analytics integration",
  //     "Email marketing integration",
  //     "Priority support with guaranteed response within 24 hours"
  //   ],
  //   button: {
  //     text: "Contact us",
  //     link: "/contact",
  //   },
  // },
  // {
  //   name: "Enterprise",
  //   price: "from £500",
  //   popular: false,
  //   features: [
  //     "Ideal for large businesses or those needing extensive web applications and a full digital toolkit",
  //     "Custom Web Applications",
  //     "Full Website and COntent Management",
  //     "Full SEO and Digital Marketing Strategy",
  //     "Digital Workspace Setup",
  //     "Ongoing Maintenance and Support",
  //     "Training and Workshops"
  //   ],
  //   button: {
  //     text: "Contact us",
  //     link: "/contact",
  //   },
  // },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Introductory prices for a limited time only.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
