---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Pick your preferred SaaS and platform provider",
    description:
      "Everything you need, from web design and development to hosting and maintenance. We have a wide range of options - wether you are just starting or wanting to scale.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Fast and Responsive",
    description:
      "Our websites are built with speed and experience in mind, so your customers will love it. Seamless and efficient. Available on any device, any time, anywhere. ",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Easy and Scalable",
    description:
      "All tools we offer are tailored for the best experience and ease-of-use, regardless of your experience. Beyond that, they can also scale with your needs.",
    icon: "bx:bxs-data",
  },
  {
    title: "Smart Integration",
    description:
      "We have experience with Generative AI latest technologies - chatbots, data analytics, and more - and can help you integrate them into your website.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Enabled",
    description:
      "Out-of-the-box features for enhancing your search engine rankings and analytics. Understand your customers and your business better.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "We love to help out and grow the community. We offer support packages and guidance to assist you. Join our Discord and get help with any questions you might have.",
    icon: "bx:bxs-user",
  },
];
---

<div class="animate-slidein1200 opacity-0 bg-gradient-to-br from-gray-100 to-gray-50 p-12">
  <div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Everything you need to start or improve your website
    </h2>
    <p class="text-lg mt-4 text-slate-600">
      We use the latest technologies and make them accessible to you, leveraging every tool your business can benefit from.
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
