---
import { Image } from "astro:assets";
import heroImage from "../assets/hero.svg";
import EmailInput from "./ui/forms/EmailInput.astro";
import Link from "./ui/link.astro";

const sectionTitle: string = "Get in touch to learn more";
const sectionContent: string = "We will only send you one email per week with the most recent updates";
---

<main
  class="grid h-screen-80 px-6 py-6 lg:grid-cols-2 place-items-center">
  
<div class="animate-slidein700 opacity-0 md:order-1 hidden md:block mt-16">
  <Image
  src="https://cdn.prod.website-files.com/64c73d04a946980a4476537e/64d455276eae71b4f2472b6d_New%20Beginnings.svg"
  alt="Efficient business solutions on a laptop screen"
  width=600
  height=600
  loading="eager"
  format="avif"
  />
  
</div>
<div class="animate-slidein300 opacity-0 "  >
  <h1 class="animate-slidein300 opacity-0 text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-primary mb-8 text-boxShadow">
    NEED A WEBSITE? YOU GOT IT.
  </h1>
  <div class="animate-slidein300 opacity-0 ">
    <h3 class="text-3xl lg:text-2xl font-bold mb-8 lg:tracking-tight">
      Simple. Efficient. Affordable. Scalable. Elegant. Powerful.
    </h3>
    <p class="text-lg mt-4 mb-8 text-slate-900 max-w-xl">
      WebFairer is a small team of experienced professionals who are passionate about great customer service and building knowledge. Our goal is to empower you - your customers and your team - to understand these new technologies and put them to the best use.
    </p>
  </div>
  
  <div class="animate-slidein700 opacity-0  col-span-2">
    <h2 class="animate-slidein700 opacity-0 text-3xl font-bold text-accent mt-5" style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);">
      Want to find out how to get started?
    </h2>
  </div>
  <Link
  href="/contact"
  class="animate-slidein700 opacity-0 bg-orange-600 text-white text-shadow-100font-bold py-3 px-6 rounded inline-flex items-center mt-5"
  >
  Join the waitlist
  <svg
  class="w-6 h-6 ml-2"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 20 20"
  fill="currentColor"
  aria-hidden="true"
  >
  <path
  fill-ule="evenodd"
  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
  clip-rule="evenodd"
  />
</svg>
</Link>
</div>
</div>
</main>
