---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">We work with the best platforms, and help you pick what works for you:</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:vercel" />
    <Icon class="h-8 md:h-12" name="simple-icons:webflow" />
    <Icon class="h-8 md:h-16" name="simple-icons:squarespace" />
    <Icon class="h-8 md:h-14" name="simple-icons:wix" />
    <Icon class="h-8 md:h-12" name="simple-icons:stripe" />
    <Icon class="h-8 md:h-12" name="simple-icons:google" />
    <Icon class="h-8 md:h-12" name="simple-icons:amazon" />
  </div>
</div>
