---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "WebFairer"
  : "WebFairer - Modern web toolkit for small businesses";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="WebFairer - Build your professional online presence in southeast England and the south of the Midlands. We offer affordable web design and development services for small businesses and personal projects."
      canonical={canonicalURL}
      twitter={{
        creator: "@iqm0",
        site: "@webfairer",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: 'WebFairer - Build your online presence in southeast England and the south of the Midlands',
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "WebFairer Homepage Screenshot",
        },
      }}
    />
    <!-- Handle structured data separately -->
    <script type="application/ld+json">
    {{
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "@id": canonicalURL,
      name: "WebFairer",
      description: "Web agency and toolkit for SMBs in southeast England and the south of the Midlands. We offer affordable web design and development services for small businesses and personal projects.",
      url: canonicalURL,
      address: {
        "@type": "PostalAddress",
        streetAddress: "Nevill Street",
        addressLocality: "Tunbridge Wells",
        postalCode: "TN2 1HB",
        addressRegion: "Kent",
        addressCountry: "GB",
      },
      geo: {
        "@type": "GeoCoordinates",
        latitude: 51.141448,
        longitude: 0.261593,
      },
      openingHoursSpecification: {
        "@type": "OpeningHoursSpecification",
        dayOfWeek: [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
        ],
        opens: "09:00",
        closes: "17:30",
      },
      sameAs: [
        "https://www.facebook.com/webfairer",
        "https://twitter.com/webfairer",
        "https://www.linkedin.com/company/webfairer",
        "https://github.com/webfairer",
        "https://webfairer.com",
        "https://webfairer.com/blog",
        "https://webfairer.com/pricing",
        "https://webfairer.com/contact",
      ],
    }}
    </script>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
